@import '../../../styles.scss';

.slide{
    .slide-first{
        width: 100%;
        height: 100vh;
        left: 0px;
        top: 0px;
        background: $black;
        position: relative;
        @include respond(mobile) {
            background-size: cover;
            background-position: center;
            background-blend-mode: soft-light;
            background-color: #4c4c4c;
        }
        .bottom-left{
            position: absolute;
            bottom: 50px;
            left: 100px;
            @include respond(mobile) {
                bottom: 50px;
                left: 50px;
            }
            h6{
                color: $white;
                font-family: Cormorant;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 38px;
                @include respond(mobile) {
                    font-size: 19px;
                }
            }
            h2{
                color: $white;
                font-family: Poppins;
                font-style: normal;
                font-weight: 300;
                font-size: 60px;
                line-height: 68px;
                text-transform: capitalize;
                @include respond(mobile) {
                    font-size: 50px;
                }
            }
        }
    }

    .slide-second{
        width: 100%;
        height: 100vh;
        background: $lightbrown;
        @include respond(mobile) {
            height: 115vh;
        }
        .top-center{
            padding-top: 100px;
            h6{
                font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 30px;
                line-height: 48px;
                text-transform: capitalize;
                padding: 0 10px;
                @include respond(mobile) {
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 30px;
                    padding: 60px 0 0 60px;
                    position: absolute;
                    top: 200px;
                    z-index: 1;
                }
            }
        }
        .main{
            position: relative;
            .heading{
                h1{
                    font-family: Poppins;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 410px;
                    line-height: 500px;
                    text-transform: capitalize;
                    padding-left: 40px;
                    @include respond(mobile) {
                        font-size: 100px;
                        line-height: 500px;
                        padding-left: 0px;
                        position: absolute;
                        left: -60px;
                        top: 200px;
                        color: #cbcbcbc7;
                    }
                }
            }
            .images{
                .lefts{
                    position: absolute;
                    left: -70px;
                    top: 90px;
                    @include respond(mobile) {
                        left: 50px;
                        top: 50px;
                        transform: translate(-50px, -55px);
                    }
                    img{
                        width: 630px;
                        height: 350px;
                        object-fit: cover;
                        object-position: center;
                        @include respond(mobile) {
                            width: 300px;
                            height: 200px;
                            filter: grayscale(10%);
                        }
                    }
                }
                .centers{
                    position: absolute;
                    right: 380px;
                    top: 377px;
                    @include respond(mobile) {
                        position: absolute;
                        right: 0px;
                        top: 330px;
                    }
                    img{
                        width: 300px;
                        height: auto;
                        object-fit: cover;
                        object-position: center;
                        @include respond(mobile) {
                            width: 245px;
                            height: 350px;
                        }
                    }
                }
                .rights{
                    position: absolute;
                    top: 90px;
                    right: 35px;
                    @include respond(mobile) {
                        left: 50px;
                        top: 600px;
                    }
                    img{
                        width: 100%;
                        height: 250px;
                        @include respond(mobile) {
                            width: 160px;
                            height: auto;
                        }
                    }
                }
            }
        }
    }

    .slide-third{
        background-color: $darkblue;
        width: 100%;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-position-x: left;
        position: relative;
        @include respond(mobile) {
            padding: 30px 0;
        }
        .top-center{
            text-align: center;
            margin-top: 6.25rem;
            h6{
                font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 25px;
                line-height: 35px;
                text-transform: capitalize;
                color: $white;
                padding: 0 15px;
                @include respond(mobile) {
                    font-size: 25px;
                    line-height: 30px;
                    padding: 0 30px;
                }
            }
        }
        .center-nav{
            display: flex;
            margin-top: 30px;
           a{
                font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 19px;
                color: $white;
                padding: 0 5px;
                z-index: 1;
                @include respond(mobile) {
                    font-size: 15px;
                    line-height: 19px;
                    padding: 0 9px;
                }
           }
        }
        .heading-center{
            position: relative;
            h1{
                font-family: Cormorant;
                font-style: normal;
                font-weight: normal;
                font-size: 120px;
                line-height: 140px;
                color: $white;
                @include respond(mobile) {
                    font-size: 50px;
                    line-height: 55px;
                }
                &.left{
                    padding-left: 27.25rem;
                    @include respond(mobile) {
                        margin-top: 20rem;
                        padding-left: 50px;
                    }
                }
            }
            .image{
                transform: rotate(8deg);
                img{
                    width: 300px;
                    height: auto;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -10%);
                    @include respond(mobile) {
                        width: 200px;
                        transform: translate(-60%, -90%);
                    }
                }
            }
        }
        .bottom-heading{
            display: flex;
            margin-top: 20px;
            h5{
                background-color: $brown;
                color: $white;
                font-size: 13px;
                border: 1px solid $brown;
                border-radius: 40px;
                padding: 20px 11px;
                @include respond(mobile) {
                    font-size: 13px;
                    border-radius: 50px;
                    padding: 20px 10px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(70px, -280px);
                }
            }
            h3{
                padding: 15px 0px 0px 40px;
                font-family: Poppins;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 38px;
                color: $white;
                @include respond(mobile) {
                    padding: 15px 0px 0px 0px;
                    font-size: 14px;
                }
            }
        }
    }
}