<div class="slide">
    <div class="row">

        <div class="slide-first" style="background-image: url(../../../assets/img/slide1.png);">
            <div class="container">
                <div class="bottom-left">
                    <h6>If Not Now, Then When?</h6>
                    <h2>Time To Make <br> Your Wealth <br> Work For You</h2>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="slide-second">
                <div class="row">
    
                    <div class="col-12">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-12 col-lg-5">
                                    <div class="top-center">
                                        <h6>Building a lasting legacy for individuals, families and businesses globally</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-12">
                        <div class="main">
                            <div class="heading">
                                <h1>Business</h1>
                            </div>
            
                            <div class="images">
                                <div class="row">
                                    <div class="lefts">
                                        <img src="../../../assets/img/left.png">
                                    </div>
                    
                                    <div class="centers">
                                        <img src="../../../assets/img/center.png">
                                    </div>
                    
                                    <div class="rights">
                                        <img src="../../../assets/img/right.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="slide-third" style="background-image: url(../../../assets/img/Vector.png);">
                <div class="row">
                    
                    <div class="col-12">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-12 col-lg-4">
                                    <div class="top-center">
                                        <h6>Success stories our capabilities in action</h6>

                                        <div class="center-nav">
                                            <a href="#">Private clients</a>
                                            <a href="#">Corporates</a>
                                            <a href="#">Insights</a>
                                            <a href="#">Contact</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="heading-center mt-5">
                            <div class="image">
                                <img src="../../../assets/img/side3.png">
                            </div>
                            
                            <h1 class="left">Diversifying For</h1>
                            <h1>More Secure Future</h1>
                        </div>

                        <div class="col-12">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-9">
                                        <div class="bottom-heading">
                                            <h5>Make <br> Enquiry</h5>
                                            <h3>Diversifying for a more secure future</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>

    </div>
</div>
